html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segeo UI', Helvetica, Arial;
}

body {
  background-color: #fff;
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  color: white;
}

.bg-primary {
  background-color: #24292e;
}

.bg-yellow {
  background-color: #f1e05a;
}

.bg-red {
  background-color: #e34c26;
}

.bg-purple {
  background-color: #563d7c;
}

.wd-100 {
  width: 100%;
}

.hh-100 {
  height: 100%;
}

.m-2 {
  margin: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-1_5 {
  margin-top: 15px;
}

.mb-2 {
  margin-bottom: 20px;
}

.m-1 {
  margin: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.p-2 {
  padding: 20px;
}

.pt-2 {
  padding-top: 20px;
}

.pb-2 {
  padding-bottom: 20px;
}

.p-3 {
  padding: 30px;
}

.pt-3 {
  padding-top: 30px;
}

.pb-3 {
  padding-bottom: 30px;
}

.section-p {
  padding: 12px 24px 12px 24px;
}

.border-top {
  border-top: 1px solid #e1e4e8;
}

.border-bottom {
  border-bottom: 1px solid #e1e4e8;
}

.fade-border-color {
  border-color: rgba(255, 255, 255, 0.15);
}

.shadow {
  -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 768px) {
  .hide-desktop {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

.section {
  max-width: 1280px;
  padding: 0px 18px 0px 18px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 0px 32px 0px 32px;
  }
}

.primary-bg {
  background-color: #24292e;
}

.secondary-bg {
  background-color: #586069;
}

/* Start Header */
header .navbar.mobile .navbar-top {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 18px 0px 18px;
}

header .navbar.mobile .navbar-top .navbar-menu .logo {
  fill: #fff;
  cursor: pointer;
}

header .navbar.mobile .navbar-top .navbar-menu .logo:hover {
  opacity: 0.7;
}

header .navbar.mobile .navbar-top .navbar-menu__content {
  position: absolute;
  top: 63px;
  left: 0;
  display: none;
  padding: 0px 18px 0px 18px;
  z-index: 5;
}

header .navbar.mobile .navbar-top .navbar-menu__content.open {
  display: block;
}

header .navbar.mobile .navbar-top .navbar-menu__content .header-form {
  position: relative;
}

header .navbar.mobile .navbar-top .navbar-menu__content .header-form input {
  height: 30px;
  color: inherit;
  vertical-align: middle;
  outline: none;
  padding: 5px 12px;
  border-radius: 6px;
  background: none;
  border: 1px solid #606263;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 20px;
}

header .navbar.mobile .navbar-top .navbar-menu__content .header-form input::-webkit-input-placeholder {
  color: #bec9cb;
  font-size: 13px;
}

header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:-ms-input-placeholder {
  color: #bec9cb;
  font-size: 13px;
}

header .navbar.mobile .navbar-top .navbar-menu__content .header-form input::-ms-input-placeholder {
  color: #bec9cb;
  font-size: 13px;
}

header .navbar.mobile .navbar-top .navbar-menu__content .header-form input::placeholder {
  color: #bec9cb;
  font-size: 13px;
}

header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:hover, header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:active, header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1.5px solid #586069;
}

header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:focus {
  background-color: #fff;
}

header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:focus + img {
  display: none;
}

header .navbar.mobile .navbar-top .navbar-menu__content .header-form img {
  position: absolute;
  right: 8px;
  top: 4.5px;
}

header .navbar.mobile .navbar-top .navbar-menu__content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 12px;
}

header .navbar.mobile .navbar-top .navbar-menu__content-list li {
  padding: 10px 0;
  width: 100%;
}

header .navbar.mobile .navbar-top .navbar-menu__content-list li a {
  font-weight: bold;
  color: #e1e4e8;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

header .navbar.mobile .navbar-top .navbar-menu__content-list li a:hover {
  opacity: 0.7;
}

header .navbar.mobile .navbar-top .navbar-menu__content-list li a span.mg-left {
  margin-left: 5px;
}

header .navbar.mobile .navbar-top .navbar-right a:hover {
  opacity: 0.7;
}

header .navbar.mobile .navbar-top .navbar-right a span.blue-noti {
  position: absolute;
  top: -8px;
  left: 7px;
  z-index: 2;
  width: 14px;
  height: 14px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54a3ff), to(#006eed));
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border: 2px solid #24292e;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  header .navbar.mobile .navbar-top {
    padding: 0px 32px 0px 32px;
  }
  header .navbar.mobile .navbar-top .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header .navbar.mobile .navbar-top .navbar-menu__content {
    position: static !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px 0px 0px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    align-items: center;
    height: 63px;
  }
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form {
    padding-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form input {
    width: 252px;
    margin-left: 13px;
    margin-right: 13px;
  }
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:focus {
    width: 262px;
  }
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form img {
    right: 20px;
    top: 24.5px;
  }
  header .navbar.mobile .navbar-top .navbar-menu__content-list {
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  header .navbar.mobile .navbar-top .navbar-menu__content-list li {
    padding: 0px 0px;
    width: auto;
    margin-right: 15px;
    border-top: none;
  }
  header .navbar.mobile .navbar-top .navbar-menu__content-list li a {
    font-size: 12px;
  }
  header .navbar.mobile .navbar-top .navbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-icons:hover {
    opacity: 0.7;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown.repo {
    margin: 0 15px;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown .my-dropdown__caret {
    display: none;
    position: absolute;
    top: 15px;
    right: 13px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-width: 8px;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    z-index: 8;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown .my-dropdown__caret.open {
    display: block;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content {
    display: none;
    position: absolute;
    top: 21.5px;
    right: 0;
    left: auto;
    z-index: 10;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 180px;
    margin-top: 2px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content.open {
    display: block;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content .dropdown-divider {
    display: block;
    height: 0;
    margin: 8px 0;
    border-top: 1px solid #e1e4e8;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content a {
    text-decoration: none;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 8px 7px 16px;
    overflow: hidden;
    color: #24292e;
    font-size: 14px;
    cursor: pointer;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content a:hover {
    color: #fff;
    background-color: #0366d6;
    text-decoration: none;
    outline: none;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content a.signed:hover {
    background-color: inherit;
    color: inherit;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content a.status {
    margin: 10px 15px;
    border: 1px solid #e1e4e8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 6px;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content a.status:hover {
    background-color: inherit;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content a.status:hover span {
    color: #197ee2;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content a.status:hover svg {
    fill: #197ee2;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content a.status svg {
    fill: #586069;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-content a.status span {
    margin-left: 5px;
    color: #24292e;
    font-size: 12px;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar.mobile .navbar-top .navbar-right .dropdown-icons .dropdown-caret {
    margin-left: 5px;
  }
}

@media screen and (min-width: 800px) {
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:focus {
    width: 285px;
  }
}

@media screen and (min-width: 850px) {
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form input {
    width: 280px;
  }
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:focus {
    width: 310px;
  }
  header .navbar.mobile .navbar-top .navbar-menu__content-list li a {
    font-size: 13px;
  }
}

@media screen and (min-width: 900px) {
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:focus {
    width: 360px;
  }
}

@media screen and (min-width: 950px) {
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:focus {
    width: 410px;
  }
}

@media screen and (min-width: 1000px) {
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:focus {
    width: 460px;
  }
}

@media screen and (min-width: 1050px) {
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:focus {
    width: 510px;
  }
}

@media screen and (min-width: 1100px) {
  header .navbar.mobile .navbar-top .navbar-menu__content .header-form input:focus {
    width: 542px;
  }
  header .navbar.mobile .navbar-top .navbar-menu__content-list li a {
    font-size: 14px;
  }
}

/* End Header */
footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px;
}

footer .footer {
  padding-top: 30px;
}

footer .footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  list-style: none;
}

footer .footer ul li {
  margin-right: 16px;
}

footer .footer ul li a {
  font-size: 12px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  color: #0366d6;
}

footer .footer ul li a:hover {
  text-decoration: underline;
}

footer .footer ul li a svg {
  fill: #e1e4e8;
}

footer .footer ul li a svg:hover {
  fill: #586069;
}

footer .footer ul .name-a {
  color: #586069;
  cursor: default;
}

footer .footer ul .name-a:hover {
  text-decoration: none;
}

footer .footer ul .name-a svg {
  cursor: pointer;
}

footer .footer ul .name-a span:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  footer .footer ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer ul .name span {
    margin-left: 20px;
  }
}

.main.open {
  margin-top: 330px;
}

.page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-content .profile-details {
  padding: 0px 18px 0px 18px;
  width: 100%;
}

.page-content .profile-details .basic-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-content .profile-details .basic-details__photo {
  position: relative;
}

.page-content .profile-details .basic-details__photo .avatar {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 0 1px transparent;
          box-shadow: 0 0 0 1px transparent;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #e1e4e8;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.page-content .profile-details .basic-details__photo .status-icon {
  position: absolute;
  bottom: 40px;
  left: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 8px 8px 8px;
  border: 1px solid #e1e4e8;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 2em;
  -webkit-box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
          box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
  cursor: pointer;
}

.page-content .profile-details .basic-details__photo .status-icon a {
  font-size: 12px;
  margin-left: 5px;
  display: none;
}

.page-content .profile-details .basic-details__photo .status-icon:hover {
  width: 100px;
}

.page-content .profile-details .basic-details__photo .status-icon:hover svg {
  fill: #197ee2;
}

.page-content .profile-details .basic-details__photo .status-icon:hover a {
  color: #197ee2;
  display: inline;
}

.page-content .profile-details .basic-details__name {
  margin-left: 20px;
  margin-top: 20px;
}

.page-content .profile-details .basic-details__name .name {
  margin-bottom: 20px;
}

.page-content .profile-details .basic-details__name .name h1 {
  font-size: 26px;
  line-height: 1.25;
  font-weight: 600;
  color: #24292e;
}

.page-content .profile-details .basic-details__name .name span.username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #586069;
}

.page-content .profile-details .mobile-status {
  border: 1px solid #e1e4e8;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  border-radius: 5px;
  margin: 25px 0 15px 0;
}

.page-content .profile-details .mobile-status:hover svg {
  fill: #197ee2;
}

.page-content .profile-details .mobile-status:hover span {
  color: #197ee2;
}

.page-content .profile-details .mobile-status span {
  color: grey;
  font-size: 12px;
  margin-left: 6px;
}

.page-content .profile-details p.bio {
  color: #24292e;
  line-height: 1.6;
  font-size: 17px;
}

.page-content .repositories {
  margin-top: 30px;
}

.page-content .repositories-panel {
  padding: 0px 18px 0px 18px;
}

.page-content .repositories-panel__search input {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  height: 32px;
  width: 100%;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
          box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
}

.page-content .repositories-panel__search input:focus {
  border: 1px solid #0366d6;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(3, 102, 214, 0.5);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(3, 102, 214, 0.5);
}

.page-content .repositories-panel__count span {
  font-size: 14px;
}

.page-content .repositories-panel__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-content .repositories-panel__list .repository {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-content .repositories-panel__list .repository .brief {
  max-width: 80%;
}

.page-content .repositories-panel__list .repository .brief .title a {
  font-size: 20px;
  text-decoration: none;
  color: #0366d6;
}

.page-content .repositories-panel__list .repository .brief .title a:hover {
  text-decoration: underline;
}

.page-content .repositories-panel__list .repository .brief .forked {
  color: #586069;
  font-size: 12px;
}

.page-content .repositories-panel__list .repository .brief .forked a {
  text-decoration: none;
  color: #24292e;
}

.page-content .repositories-panel__list .repository .brief .forked a:hover {
  color: #197ee2;
}

.page-content .repositories-panel__list .repository .brief .description {
  color: #586069;
  font-size: 13px;
}

.page-content .repositories-panel__list .repository .brief .description a {
  text-decoration: none;
  color: #24292e;
}

.page-content .repositories-panel__list .repository .brief .foot {
  color: #586069;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-content .repositories-panel__list .repository .brief .foot .language {
  margin-right: 12px;
}

.page-content .repositories-panel__list .repository .brief .foot .language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.page-content .repositories-panel__list .repository .brief .foot .fork, .page-content .repositories-panel__list .repository .brief .foot .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-right: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-content .repositories-panel__list .repository .brief .foot .fork-count, .page-content .repositories-panel__list .repository .brief .foot .star-count {
  margin-left: 2px;
}

.page-content .repositories-panel__list .repository .brief .foot .fork:hover, .page-content .repositories-panel__list .repository .brief .foot .star:hover {
  color: #197ee2;
}

.page-content .repositories-panel__list .repository .brief .foot .fork:hover svg, .page-content .repositories-panel__list .repository .brief .foot .star:hover svg {
  fill: #197ee2;
}

.page-content .repositories-panel__list .repository .brief .foot .license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}

.page-content .repositories-panel__list .repository .brief .foot .license-text {
  margin-left: 2px;
}

.page-content .repositories-panel__list .repository .brief .foot svg {
  fill: #586069;
}

.page-content .repositories-panel__list .repository button {
  color: #24292e;
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  -webkit-box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
          box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  -webkit-transition-property: color,background-color,border-color;
  transition-property: color,background-color,border-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.page-content .repositories-panel__list .repository button svg {
  fill: #586069;
}

.page-content .repositories-panel__list .repository button span {
  margin-left: 3px;
}

.page-content .repositories-panel__list .repository button:focus {
  background-color: #f3f5f5;
  outline: none;
}

@media screen and (min-width: 768px) {
  .main.open {
    margin-top: 0px;
  }
  .border-over {
    position: absolute;
    content: '';
    margin-top: 86px;
    border-top: 1px solid #e1e4e8;
    height: 5px;
    width: 100%;
  }
  .page-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1280px;
    padding: 0px 20px 0px 20px;
    margin: 0 auto;
  }
  .page-content .profile-details {
    width: 27%;
    margin-top: 50px;
  }
  .page-content .profile-details .basic-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-content .profile-details .basic-details__photo .avatar {
    width: 100%;
    height: 100%;
  }
  .page-content .profile-details .basic-details__name {
    margin-left: 0px;
  }
  .page-content .repositories {
    width: 73%;
  }
}

.section-nav {
  border-bottom: 1px solid #e1e4e8;
  padding: 0px 18px 0px 18px;
}

.section-nav .content {
  position: relative;
}

.section-nav .content .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.section-nav .content .nav .item {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 30px;
  color: #586069;
  text-align: center;
  white-space: nowrap;
  background-color: initial;
  border: 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom-color .36s ease-in;
  transition: border-bottom-color .36s ease-in;
  text-decoration: none;
}

.section-nav .content .nav .item:hover {
  color: #24292e;
  text-decoration: none;
  border-bottom-color: #d1d5da;
  outline: 1px dotted transparent;
  outline-offset: -1px;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: .12s;
          transition-duration: .12s;
}

.section-nav .content .nav .item.active {
  font-weight: 600;
  color: #24292e;
  border-bottom-color: #f9826c;
  outline: 1px dotted transparent;
  outline-offset: -1px;
}

.section-nav .content .nav .counter {
  display: inline-block;
  min-width: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #24292e;
  text-align: center;
  background-color: rgba(209, 213, 218, 0.5);
  border: 1px solid transparent;
  border-radius: 2em;
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .section-nav {
    padding: 0px 32px 0px 32px;
    border-bottom: 0px;
  }
}
/*# sourceMappingURL=main.css.map */