// Author: Ezenwankwo Ugochukwu
// Email: info@devugo.com
// Website: profile.devugo.com

$primary-color: #24292e;
$secondary-color: #586069;
$white: #fff;

$bg-color: $white;
$btn-bg-color: #fafbfc;
$btn-bg-focus-color: #f3f5f5;
$bg-yellow: #f1e05a;
$bg-purple: #563d7c;
$bg-red: #e34c26;

$grey-color: #e1e4e8;
$grey-color-dark: #6a737d; 

$text-link-color: #0366d6;
$hover-color: rgb(25, 126, 226);

$hover-opacity: 0.7;

$orange-bottom-border: #f9826c;

$input-focus-border-color: 1px solid rgb(3, 102, 214);
