.footer {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
    height: 73px;

    footer {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}